<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <style>
        body {
            display:flex;
        }
        /* Layout styles */
        /* .container {
            display: flex;
            height: 100vh;
            overflow: hidden;
        } */
        .sidepanel {
            width: 250px; /* Adjust width as needed */
            background: #f0f0f0;
            padding: 10px;
        }
        .body-content {
            background: #fff;
            overflow-y: auto;
            padding: 20px;

        }
    </style>
</head>
<body>
    <div class="flex justify-between w-full">
        <div class="sidepanel w-[20%]">
            {% include 'sidepanel.html' %}
        </div>

        <div class="w-full">
            {% include 'body.html' %}
        </div>
    </div>

</body>
</html>
